GITHUB_USERNAME=your-github-username
# Use a PAT with read:packages (github.com/settings/tokens)
GITHUB_TOKEN=PASTE_YOUR_GITHUB_PACKAGES_TOKEN_HERE
API_BASE_URL=https://your-backend-url.com
SPREEDLY_API_BASE_URL=https://your-spreedly-backend-url.com
SPREEDLY_ENVIRONMENT_KEY=your_spreedly_environment_key
SANDBOX_FORTER_SITEID=your_sandbox_forter_site_id
PRODUCTION_FORTER_SITEID=your_production_forter_site_id
FORTER_USERNAME=your_forter_username
FORTER_PASSWORD=your_forter_password
STRIPE_PUBLISHABLE_KEY=pk_test_your_stripe_publishable_key
SPREEDLY_AUTH_TOKEN=your_spreedly_auth_token_base64
